body{
    font-family: 'Roboto', sans-serif;
}

.layout-message{
    width: 100%;
    height: 100%;
    margin: auto;
}

img{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

.user-icon, .direct-icon{
    color: #000;
    margin-right: 20px;
    
}

.user-icon{
    font-size: 40px;
}

.direct-icon{
    font-size: 26px;
    margin-right: 18px;
}

.header, .bottom-box{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.header{
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    top: 0px;
    left: 0px;
}

.bottom-box{
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.05);
    bottom: 0px;
    left: 0px;
}

.messages-box{
    background-color: #e5e5e5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

time{
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    color: #aaa;
}

.sender, .receiver{
    font-weight: bold;
}

.sender, .message{
    margin-left: 8px;
}

.start-end-room, .public-message, .private-message, .end-room{
    width: 100%;
    min-height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    text-align: left;
    font-family: roboto;
    font-weight: 700px;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    margin-top: 4px;
}

p{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.start-end-room{
    background-color: #DCDCDC;
}

.public-message{
    background-color: #fff;
}

.private-message{
    background-color: #ffdede;
}

.type-message{
    width: 300px;
    margin-left: 17px;
    font-size: 18px;
    font-family: roboto;
}

.type-message::placeholder{
    font-family: roboto;
    font-style: italic;
    font-size: 18px;
    color: #000;
}
.type-message:placeholder-shown{
    border: none;
}